<h1>Bulk Discounts</h1>

<% @bulk_discounts.each do |discount| %>
  <div>
    <p><%= discount.discount %> % off for more than <%= discount.quantity %> items</p>
    <%= link_to "#{discount.discount} Percent Page", merchant_bulk_discount_path(@merchant, discount) %>
  </div>
<% end %>
