<h2>Bulk Discount #<%= @bulk_discount.id %> Show Page</h2>
<br>
<p><%= @bulk_discount.discount %>% off for more than <%= @bulk_discount.quantity %> items</p>
 <%= link_to "Edit Discount", edit_merchant_bulk_discount_path(@bulk_discount.merchant, @bulk_discount) %>